<a href="https://colab.research.google.com/github/pikaru81/pandas_exercises/blob/master/Cohort%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
from dateutil import parser
from datetime import datetime

By understanding user retention, we can infer the stickiness/loyalty of the customers and evaluate the health of the business. 
It is important to remember that the expected retention values vary greatly between businesses,
 3 purchases a year for one retailer might be a lot, while for another might be far too little.

In [2]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx

--2023-03-27 05:52:37--  https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23715344 (23M) [application/x-httpd-php]
Saving to: ‘Online Retail.xlsx’

Online Retail.xlsx  100%[===================>]  22.62M  52.9MB/s    in 0.4s

2023-03-27 05:52:38 (52.9 MB/s) - ‘Online Retail.xlsx’ saved [23715344/23715344]

drop a table in pandas

In [35]:
del df

In [36]:
df = pd.read_excel('Online Retail.xlsx',
                   dtype={'InvoiceNo': str,
                          'CustomerID': str},
                   parse_dates=['InvoiceDate']
                   )

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  object
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 33.1+ MB

Refer to this link for PANDA datatypes and conversion----> https://pbpython.com/pandas_dtypes.html

In [28]:
df.dropna(subset= ["CustomerID"], inplace=True)

In [32]:
df.reset_index(inplace=True, drop=True)----this creates a new index why?

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406829 entries, 0 to 406828
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   index        406829 non-null  int64
 1   InvoiceNo    406829 non-null  object
 2   StockCode    406829 non-null  object
 3   Description  406829 non-null  object
 4   Quantity     406829 non-null  int64
 5   InvoiceDate  406829 non-null  datetime64[ns]
 6   UnitPrice    406829 non-null  float64
 7   CustomerID   406829 non-null  object
 8   Country      406829 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 27.9+ MB

In [34]:
df.head()

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [31]:
df.describe()

               index       Quantity      UnitPrice
count  406829.000000  406829.000000  406829.000000
mean   278048.159318      12.061303       3.460471
std    152744.019884     248.693370      69.315162
min         0.000000  -80995.000000       0.000000
25%    147749.000000       2.000000       1.250000
50%    284435.000000       5.000000       1.950000
75%    409528.000000      12.000000       3.750000
max    541908.000000   80995.000000   38970.000000